@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  background: rgb(173, 175, 205);
  background: linear-gradient(
    90deg,
    rgba(173, 175, 205, 1) 0%,
    rgba(122, 128, 210, 1) 49%,
    rgba(195, 156, 156, 1) 100%
  );
}
